<div>
  <h2>Add Job</h2>
  <form [formGroup]="jobsForm" (ngSubmit)="addJob()">
    <label>
      Name:
      <input
      type="text"
      class="form-control"
      formControlName="nameInput">
    </label>
    <label>
      Execution Time In Seconds:
      <input
      type="text"
      class="form-control"
      formControlName="execTimeInput">
    </label>
    <button type="submit"
    class="btn btn-primary"
    [disabled]="!jobsForm.valid">Add</button>
  </form>
</div>
<br>

<h2>My Jobs</h2>
<form [formGroup]="executeForm" (ngSubmit)="executeJobs()">
  <label>Number Of Concurrent Jobs:
      <input
      type="text"
      class="form-control"
      formControlName="nThreadsInput">
  </label>
  <button
  type="submit"
  class="btn btn-primary"
  [disabled]="!executeForm.valid">Execute</button>
</form>

<ul class="jobs">
  <li *ngFor="let job of jobs" (click)="onSelect(job)" [class.selected]="job === selectedJob">
    <span class="badge">{{ job.name }}</span> {{ job.name }}
  </li>
</ul>

<app-job-detail [job]="selectedJob"></app-job-detail>
