<div *ngIf="job">
  <div>{{job.name | uppercase}} Details</div>
  <div><span>Execution Time: </span>{{job.executionTime}}</div>
  <div>
    <label>Name:
      <input [(ngModel)]="job.name" placeholder="name">
    </label>
  </div>
  <button (click)="save()">save</button>
</div>
